.place__button {
    width: 21px;
    height: 19px;
    padding: 0;
    background-image: url('../../../images/button-like.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: none;
    align-self: flex-end;
    margin-bottom: 5px;
    margin-right: 18px;
}

.place__button:hover {
    cursor: pointer;
    opacity: .6;
    transition: ease-out .4s;
}
