@import url('./__logo-mobile/header__logo-mobile.css');
@import url('./__logo-desktop/header__logo-desktop.css');

.header {
    padding-top: 28px;
    height: 56px;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 1024px) {
    .header {
        max-width: 882px;
        height: 74px;
        margin: auto;
        padding-top: 45px;
    }
}