.popup__name {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 13px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (min-width: 1024px) {
    .popup__name {
        width: 358px;
    }
}
