.popup-image__container {
    display: flex;
    margin: 0 auto;
    position: fixed;
    top: 195px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 848px) {
    .popup-image__container {
        width: 433px;
        height: 540px;
    }
}

@media screen and (max-width: 480px) {
    .popup-image__container {
        width: 240px;
        height: 299px;
    }
}