.popup__close-button {
    background-image: url('../../../images/Close-Icon.png');
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    position: absolute;
    border: none;
    top: -30px;
    right: -30px;
    height: 40px;
    width: 40px;
}

.popup__close-button:hover {
    cursor: pointer;
    opacity: .6;
    transition: ease-out .4s;
}
