.popup-link__container {
    background: #ffffff;
    margin: 0 auto;
    position: fixed;
    top: 195px;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    width: 282px;
    height: 330px;
}

@media screen and (min-width: 1024px) {
    .popup-link__container {
        width: 430px;
    }
}