@import url('./__paragraph/place__paragraph.css');
@import url('./__button/place__button.css');
@import url('./__content/place__content.css');

.place {
    position: relative;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    width: 282px;
    height: 362px;
    background-color: #ffffff;
}
